/*Colores*/
$color-principal: #FFB100;
$color-letra: white;
$color-letra2: black;



/*Media-Resoluciones*/
$pantalla-p: 320px;
$pantalla-px: 444px;
$pantalla-pm: 525px;
$pantalla-md: 768px;
$pantalla-g: 992px;
$pantalla-mg: 1024px;


/*mixins*/
@mixin dis-flex-col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin dis-flex-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
}